html {
 background-color: black;
}

.main {
    text-align: center;
}

.clock-face {
    width: 300px;
    height: 300px;
    position: relative;
    background-image: url(../images/clock-face.svg);
    margin: 4em auto;
}

.hand {
    width: 14px;
    left: 144px;
    position: absolute;
    bottom: 150px;
}

.center {
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: calc(50% - 14px);
    left: calc(50% - 14px);
}


.hand-hour {
    transform-origin: center bottom;
    transition: all 6000ms linear;
}

.hand-minute {
 
    transform-origin: center bottom;
    transition: all 6000ms linear; 
}

.clock-face:target .hand-hour {
    transform: rotate(360deg);
    
}

.clock-face:target .hand-minute {
    transform: rotate(4320deg);
      
}

.btn-forwards {
    background-color: green;
    border-radius: 50%;
    width: 6em;
    line-height: 6em;
    padding: 1em;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.btn-backwards {
    background-color: red;
    border-radius: 50%;
    width:10px;
    width: 6em;
    line-height: 6em;
    padding: 1em;
    text-decoration: none;
    display: inline-block;
    text-align: center;

}
