html {
 background-color: black;
}

.main {
    
}

.clock-face {
    width: 300px;
    height: 300px;
    position: relative;
    background-image: url(../images/clock-face.svg);
}

.hand {
    width: 14px;
    left: 144px;
    position: absolute;
    bottom: 150px;
}

.center {
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: calc(50% - 14px);
    left: calc(50% - 14px);
}


.hand hour {
    bottom: 10px;
    left: 100px;
}

.hand minute {
    bottom: 100px;
    left: 100px;
